apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "10254"
    prometheus.io/scrape: "true"
    giantswarm.io/monitoring: "true"
    giantswarm.io/monitoring-path: "/metrics"
    giantswarm.io/monitoring-port: "10254"
  name: nginx-ingress-controller
  namespace: kube-system
  labels:
    app.kubernetes.io/name: nginx-ingress-controller
    giantswarm.io/service-type: managed
    k8s-app: nginx-ingress-controller
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    nodePort: 30010
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    nodePort: 30011
    protocol: TCP
    targetPort: 443
  selector:
    app.kubernetes.io/name: nginx-ingress-controller