apiVersion: kubeproxy.config.k8s.io/v1alpha2
clientConnection:
  kubeconfig: /etc/kubernetes/config/proxy-kubeconfig.yaml
kind: KubeProxyConfiguration
mode: iptables
{{- if not .CalicoPolicyOnly }}
clusterCIDR: {{ .Cluster.Calico.Subnet }}/{{ .Cluster.Calico.CIDR }}
{{- end }}
{{- if .Cluster.Kubernetes.NetworkSetup.KubeProxy.ConntrackMaxPerCore }}
conntrack:
  maxPerCore: {{ .Cluster.Kubernetes.NetworkSetup.KubeProxy.ConntrackMaxPerCore }}
{{- end }}
metricsBindAddress: 0.0.0.0:10249
bindAddressHardFail: true
