kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
enableServer: true
address: ${DEFAULT_IPV4}
port: 10250
readOnlyPort: 0
healthzBindAddress: "0.0.0.0"
healthzPort: 10248
cgroupDriver: {{ if .ForceCGroupsV1 }}cgroupfs{{else}}systemd{{end}}
clusterDNS:
  - {{.Cluster.Kubernetes.DNS.IP}}
clusterDomain: {{.Cluster.Kubernetes.Domain}}
kernelMemcgNotification: true
evictionSoft:
  memory.available: "500Mi"
evictionHard:
  memory.available: "200Mi"
  imagefs.available: "15%"
evictionSoftGracePeriod:
  memory.available: "5s"
evictionMaxPodGracePeriod: 60
kubeReserved:
  cpu: 250m
  memory: 768Mi
  ephemeral-storage: 1024Mi
kubeReservedCgroup: /kubereserved.slice
maxPods: ${MAX_PODS}
protectKernelDefaults: true
systemReserved:
  cpu: 250m
  memory: 384Mi
systemReservedCgroup: /system.slice
authentication:
  anonymous:
    enabled: true # Defaults to false as of 1.10
  webhook:
    enabled: false # Defaults to true as of 1.10
authorization:
  mode: AlwaysAllow # Defaults to webhook as of 1.10
featureGates:
  {{- if .EnableCSIMigrationAWS }}
  CSIMigrationAWS: true
  {{- end }}
  {{- if .InTreePluginAWSUnregister }}
  InTreePluginAWSUnregister: true
  {{- end }}
  {{- if .EnableCronJobTimeZone }}
  CronJobTimeZone: true
  {{- end }}
tlsCipherSuites:
  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
  - TLS_RSA_WITH_AES_256_GCM_SHA384
  - TLS_RSA_WITH_AES_128_GCM_SHA256
serializeImagePulls: false
streamingConnectionIdleTimeout: 1h
allowedUnsafeSysctls:
- "net.*"
