apiVersion: v1
kind: Pod
metadata:
  name: k8s-controller-manager
  namespace: kube-system
  labels:
    app.kubernetes.io/name: controller-manager
    giantswarm.io/service-type: system
    k8s-app: controller-manager
    tier: control-plane
    giantswarm.io/monitoring: "true"
    component: kube-controller-manager
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
    prometheus.io/scrape: "true"
    prometheus.io/port: "10257"
    giantswarm.io/monitoring-path: "/metrics"
    giantswarm.io/monitoring-port: "10257"
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
  - name: k8s-controller-manager
    image: {{ .Images.KubeControllerManager }}
    command:
    - kube-controller-manager
    {{ range .Kubernetes.ControllerManager.CommandExtraArgs -}}
    - {{ . }}
    {{ end -}}
    - --logtostderr=true
    - --v=2
    {{ if .ExternalCloudControllerManager -}}
    - --cloud-provider=external
    {{ else -}}
    - --cloud-provider={{.Cluster.Kubernetes.CloudProvider}}
    {{ end -}}
    - --terminated-pod-gc-threshold=10
    - --use-service-account-credentials=true
    - --kubeconfig=/etc/kubernetes/kubeconfig/controller-manager.yaml
    - --authentication-kubeconfig=/etc/kubernetes/kubeconfig/controller-manager.yaml
    - --authorization-kubeconfig=/etc/kubernetes/kubeconfig/controller-manager.yaml
    {{- if .InTreePluginAWSUnregister }}
    - --feature-gates=TTLAfterFinished=true,CSIMigrationAWS={{ .EnableCSIMigrationAWS }},InTreePluginAWSUnregister=true{{ if .EnableCronJobTimeZone }},CronJobTimeZone=true{{ end }}
    {{- else }}
    - --feature-gates=TTLAfterFinished=true,CSIMigrationAWS={{ .EnableCSIMigrationAWS }}{{ if .EnableCronJobTimeZone }},CronJobTimeZone=true{{ end }}
    {{- end }}
    - --profiling=false
    - --root-ca-file=/etc/kubernetes/ssl/apiserver-ca.pem
    - --service-account-private-key-file=/etc/kubernetes/ssl/service-account-key.pem
    resources:
      requests:
        cpu: 200m
        memory: 200Mi
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10257
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    volumeMounts:
    {{ range .Kubernetes.ControllerManager.HostExtraMounts -}}
    - mountPath: {{ .Path }}
      name: {{ .Name }}
      readOnly: {{ .ReadOnly }}
    {{ end -}}
    - mountPath: /etc/kubernetes/config/
      name: k8s-config
      readOnly: true
    - mountPath: /etc/kubernetes/kubeconfig/
      name: k8s-kubeconfig
      readOnly: true
    - mountPath: /etc/kubernetes/secrets/
      name: k8s-secrets
      readOnly: true
    - mountPath: /etc/kubernetes/ssl/
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  {{ range .Kubernetes.ControllerManager.HostExtraMounts -}}
  - hostPath:
      path: {{ .Path }}
    name: {{ .Name }}
  {{ end -}}
  - hostPath:
      path: /etc/kubernetes/config
    name: k8s-config
  - hostPath:
      path: /etc/kubernetes/kubeconfig
    name: k8s-kubeconfig
  - hostPath:
      path: /etc/kubernetes/secrets
    name: k8s-secrets
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
